<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
<servlet>
<servlet-name>CreateCourseServlet</servlet-name>
<servlet-class>course_1.courseServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CreateCourseServlet</servlet-name>
<url-pattern>/course</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ViewServlet</servlet-name>
<servlet-class>course_1.ViewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewServlet</servlet-name>
<url-pattern>/View</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>UpdateCourseServlet</servlet-name>
<servlet-class>course_1.UpdateCourseServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateCourseServlet</servlet-name>
<url-pattern>/update</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DeleteCourseServlet</servlet-name>
<servlet-class>course_1.DeleteCourseServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteCourseServlet</servlet-name>
<url-pattern>/deletecourse</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>CourseEnrollServlet</servlet-name>
<servlet-class>course_1.CourseEnrollServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CourseEnrollServlet</servlet-name>
<url-pattern>/Enroll</url-pattern>
</servlet-mapping>
</web-app>